# --- Core ---
python-dotenv
requests
asyncio

# --- Data & Math ---
pandas
numpy
ccxt
scikit-learn
joblib
yfinance>=0.2.50
pandas_datareader  # <--- YENİ: Profesyonel Veri Okuyucu

# --- Deep Learning ---
tensorflow

# --- Dashboard ---
streamlit
watchdog
