# --- Core ---
python-dotenv
requests
asyncio

# --- Data & Math ---
pandas
numpy
ccxt
scikit-learn
joblib
pandas_datareader  # <--- BU ÇOK ÖNEMLİ (STOOQ İÇİN)
yfinance           # (Yedek olarak kalsın ama kullanmayacağız)

# --- Deep Learning ---
tensorflow

# --- Dashboard ---
streamlit
watchdog
