# --- Core ---
python-dotenv
requests
asyncio

# --- Data & Math ---
pandas
numpy
ccxt
scikit-learn
joblib
yfinance  # <--- YENİ: DÜNYA PİYASALARI İÇİN

# --- Deep Learning ---
tensorflow

# --- Dashboard ---
streamlit
watchdog
